{% extends "Home/base.html" %}

{% load static %}

{% block content %}


<div style="margin-top: 80px;">
<div>
<table class="table table-bordered table-hover" >
  <thead>
    <tr class="trampas_tabla">
      <th scope="col"">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Coordenadas</th>
      
    </tr>
  </thead>
  <tbody>
    {% for trampa in trampas %}
      <tr>
        <th scope="row">{{trampa.idcTrampas}}</th>
        <td>{{trampa.nombre}}</td>
        <td>{{trampa.direccion}}</td>
        <td>{{trampa.coordenadas}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
 

{% endblock %}