{% extends "Home/base.html" %}

{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      
      <div class="row icon-boxes justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-0 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="http://35.203.130.146:80/" target="_blank">Label Studio</a></h4>
            <p class="description">Ir al proyecto principal de etiquetado en label studio</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-0 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Nueva Muestra</a></h4>
            <p class="description">Agregar una nueva muestra, adjuntar fotografias y detalles</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-0 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Etiquetado</a></h4>
            <p class="description">Ver las fotografías pendientes por etiquetar </p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}

  